@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;600&display=swap');

@font-face {
    font-family: JFont;
    src: url(../assets/Fonts/Thunder-VF.ttf);
}

*{
    margin: 0;
    padding: 0;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background-color: #ffffff;
    color: #000000;
}
body::after{
    content: '';
    height: 2px;
    position: fixed;
    top: calc(50% - 1px);
    left: 0;
    right: 0;
    background-color: #892222;
    z-index: 10;
    opacity: 0;
}

nav div.burgerNav-container{
    opacity: 0;
    width: 0;
}

nav .link{
    overflow: hidden;
    opacity: 0;
    height: 0;
}

nav div.verticalnav-container{
    opacity: 1;
    width: 100%;
}

nav{
    height: 50px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav ul {
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav ul li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 20px;
  }

nav ul li a{
    padding: 0px 10px;
    margin: 0px 10px;
    color: #fff;
    text-decoration: none;
    float: left;
    transition: all ease-in-out .2s;
    border:none;
    position: relative;
}

nav ul a::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom:0;
    margin-top: 1px;
    background-color: rgb(255, 255, 255);
    transition: all ease-in-out .3s;
}

nav ul li:hover a:after{
    width: 100%;
    left: 0;
}

header{
    color: #ffffff;
    background-color: #000000;
}

header div.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

header div.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@keyframes arrowAnimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

header div.arrow a svg{
    color: #fff;
    animation: arrowAnimation 2s ease-in-out infinite;
}

span {
    font-size: 500px;
    font-weight: bold;
    font-family: JFont;
}

@media screen and (max-width: 1200px) {
    span {
        font-size: 300px;
    }
}

@media screen and (max-width: 900px) {
    span {
        font-size: 200px;
    }
}

@media screen and (max-width: 480px) {
    nav{
        height: auto;
    }
    nav div.burgerNav-container{
        opacity: 1;
        width: 100%;
    }

    nav ul {
        height: 0px;
    }
    
    nav div.verticalnav-container{
        overflow: hidden;
        opacity: 0;
        width: 0;
    }

    nav .burguerNav{
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    nav .burguerNav a{
        text-align: center;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    nav .burguerNav .burguer{
        right: 15px;
        top: 0px;
        position: absolute;
        height: 50px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
    
    nav .burguerNav .burguer .bar{
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transition: ease-in .3s;
    }
    
    nav .burguerNav .burguer .up{
        transform: translateY(-10px);
    }
    
    nav .burguerNav .burguer .mid{
        width: 25px;
        opacity: 1;
    }
    
    nav .burguerNav .burguer .down{
        transform: translateY(10px);
    }
    
    nav .burguerNav .burguer .up.active{
        width: 30px;
        transform: rotateZ(-45deg);
    }
    
    nav .burguerNav .burguer .mid.active{
        opacity: 0;
    }
    
    nav .burguerNav .burguer .down.active{
        width: 30px;
        transform: rotateZ(45deg);
    }
    
    nav .link{
        overflow: hidden;
        opacity: 0;
        height: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: ease-in-out .3s;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    }
    
    nav .link.active{
        opacity: 1;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    nav .link a{
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        color: #ffffff;
        transition: ease .3s;
        padding: 1px 10px;
        margin: 5px 1px;
        position: relative;
    }

    nav .link a::after{
        content: '';
        position: absolute;
        width: 0px;
        height: 2px;
        left: 50%;
        bottom:0;
        margin-top: 1px;
        background-color: rgb(255, 255, 255);
        transition: all ease-in-out .3s;
    }
    
    nav .link a:hover::after{
        width: 100%;
        left: 0;
    }
    
    
    
    body header div.main-content.active {
        height: 71vh;
    }
        
    span {
        font-size: 160px;
    }
}

section.Ap {
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

section.Ap div.text-content {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 200px 0px;
    font-size: 20px;
    width: 50%;
}

section.Ap  h1{
    margin: 200px 0px 50px 0px;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    font-family: JFont;
}

@media screen and (max-width: 1200px) {
    section.Ap div.text-content {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    section.Ap div.text-content {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    section.Ap div.text-content {
        width: 70%;
    }
    section.Ap  h1{
        font-size: 100px;
    }
}

section.SK {
    color: #ffffff;
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15% 0px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

section.SK div.text-container{
    width: 45%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-bottom: auto;
    font-size: 20px;
}

section.SK div.text-container h1{
    margin: 0px 0px 200px 0px;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    font-family: JFont;
}

#SkillBox {
    margin: 100px 0px;
    font-size: 20px;
    width: 45%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border-radius:20px;
    -o-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -moz-border-radius:20px;  
}
#SkillBox img {
    width: 20%;
    height: 10%;
    margin: auto 35%;
    padding: 10px;
    border-radius: 150px;
}
.SkillBar {
    width: 90%;
    height: 50px;
    position: relative;
    background: rgba(17, 17, 17, 0.092);
    margin: 20px auto;
}

.SkillBar, .SkillBar div{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 3px;
}

#Skill-PYTHON {
    width: 100%;
    animation: Animate100 4s;
    -webkit-animation: Animate100 4s;
    -moz-animation: Animate100 4s;
    -o-animation: Animate100 4s;
    height: 50px;
    position: absolute;
    background-color: #3a8fc7;
}

#Skill-HTML {
    width: 100%;
    animation: Animate100 4s;
    -webkit-animation: Animate100 4s;
    -moz-animation: Animate100 4s;
    -o-animation: Animate100 4s;
    height: 50px;
    position: absolute;
    background-color: #d56c49;
}

#Skill-CSS {
    animation: Animate90 5s;
    -webkit-animation: Animate90 5s;
    -moz-animation: Animate90 5s;
    -o-animation: Animate90 5s;
    width: 90%;
    height: 50px;
    position: absolute;
    background-color: #55a69f;
}

#Skill-JS {
    animation: Animate25 4s;
    -webkit-animation: Animate25 4s;
    -moz-animation: Animate25 4s;
    -o-animation: Animate25 4s;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #c44e45;
}

#Skill-C {
    animation: Animate30 4s;
    -webkit-animation: Animate30 4s;
    -moz-animation: Animate30 4s;
    -o-animation: Animate30 4s;
    width: 30%;
    height: 50px;
    position: absolute;
    background-color: #970cc1;
}

#Skill-PHP {
    animation: Animate25 4s;
    -webkit-animation: Animate25 4s;
    -moz-animation: Animate25 4s;
    -o-animation: Animate25 4s;
    width: 25%;
    height: 50px;
    position: absolute;
    background-color: #5A69A6;
}

#Skill-SQL {
    animation: Animate70 4s;
    -webkit-animation: Animate70 4s;
    -moz-animation: Animate70 4s;
    -o-animation: Animate70 4s;
    width: 70%;
    height: 50px;
    position: absolute;
    background-color: #23b1db;
}

@keyframes Animate100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-webkit-keyframes Animate100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-moz-keyframes Animate100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}@-o-keyframes Animate100 {
    from {
    width: 10px;
}
to {
    width: 100%}
}
@keyframes Animate90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-webkit-keyframes Animate90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-moz-keyframes Animate90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}@-o-keyframes Animate90 {
    from {
    width: 10px;
}
to {
    width: 90%}
}
@keyframes Animate80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-webkit-keyframes Animate80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-moz-keyframes Animate80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}@-o-keyframes Animate80 {
    from {
    width: 10px;
}
to {
    width: 80%}
}
@keyframes Animate70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-webkit-keyframes Animate70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}@-moz-keyframes Animate70{
    from {
    width: 10px;
}
to {
    width: 70%}
}@-o-keyframes Animate70 {
    from {
    width: 10px;
}
to {
    width: 70%}
}
@keyframes Animate30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-webkit-keyframes Animate30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-moz-keyframes Animate30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}@-o-keyframes Animate30 {
    from {
    width: 10px;
}
to {
    width: 30%}
}
@keyframes Animate25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-webkit-keyframes Animate25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-moz-keyframes Animate25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}@-o-keyframes Animate25 {
    from {
    width: 10px;
}
to {
    width: 25%}
}

.Skill-Area {
    font-style: normal;
    z-index: 1;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
    text-shadow: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.PercentText {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    z-index: 3;
    position: relative;
    padding-right: 15px;
    margin-top: 15px;
    float: right;
    text-shadow: none;
    color: #fff;
    font-size: 15px;
}

@media screen and (max-width: 1200px) {
    section.SK {
        flex-direction: column;
    }
    
    section.SK div.text-container h1{
        margin: 0px 0px 20px 0px;
    }

    section.SK div.text-container{
        width: 70%
    }

    #SkillBox {
        margin: 20px 0px;
        width: 65%; 
    }
}

@media screen and (max-width: 480px) {
    section.SK div.text-container{
        width: 90%
    }
    #SkillBox {
        width: 90%;  
    }
    section.SK div.text-container h1{
        font-size: 100px;
    }
}

section.Pr {
    width: 100%;
    background-color: #fff;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    overflow: hidden;
}

section.Pr  h1{
    margin: 50px 0px 50px 25px;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    font-family: JFont;
}

section.Pr .project-container, section.Pr .concour-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


section.Pr .project-container .box, .concour-container  .box{
    font-family: 'Roboto', sans-serif;
    width: 30%;
    min-width: 300px;
    height: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.349) 0px 2px 4px;
}

section.Pr .project-container .box:nth-child(1), section.Pr .project-container .box:nth-child(1) a{
    position: relative;
    background-color: #382b94;
    color: #fff;
}

section.Pr .concour-container .box:nth-child(1), section.Pr .concour-container .box:nth-child(1) a,section.Pr .concour-container .box:nth-child(4), section.Pr .concour-container .box:nth-child(4) a{
    position: relative;
    /**background-color: #000000;**/
    background-image: url('https://img.freepik.com/photos-premium/fond-noir-points-blancs-points-dessus_662214-30678.jpg');
    color: #FFD500;
}

section.Pr .project-container .box a:hover::after, section.Pr .concour-container .box a:hover::after{
    width: 100%;
    left: 0;
}

section.Pr .project-container .box h1, section.Pr .concour-container .box h1{
    font-size: 100px;
    margin: 0;
    font-weight: bold;
    font-family: JFont;
}

section.Pr .project-container .box a, section.Pr .concour-container .box a{
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media screen and (max-width: 480px) {
    section.Pr  h1{
        font-size: 100px;
    }
}

section.CM{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

section.CM .container{
    width: 75%;
    height: auto;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 12px 28px 0px, rgba(255, 255, 255, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
}

section.CM .resaux{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

section.CM h1{
    margin: 50px 0px;
    font-size: 150px;
    font-style: italic;
    font-weight: bold;
    font-family: JFont;
}

.resaux .button{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 15px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
    transition: all 0.3s ease-out;
}
  
.resaux .button:hover{
    width: 200px;
}
  
.resaux .button .icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    color: #000000;
}

.resaux .button:nth-child(1):hover .icon{
    background: #382b94;
}

.resaux .button:nth-child(2):hover .icon{
    background: #333;
}

.resaux .button:nth-child(3):hover .icon{
    background: linear-gradient(to right, hsl(37,97%,70%),hsl(329,70%,58%));;
}

.resaux .button:nth-child(4):hover .icon{
    background: #1DA1F2;
}

.resaux .button:nth-child(5):hover .icon{
    background: #a60c0c;
}

.resaux .button .icon svg{
    width: 25px;
    height: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.resaux .button:hover .icon svg{
    color: #fff;
}

.resaux .button span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 0;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}

.resaux .button:nth-child(1) span{
    color: #382b94;
}

.resaux .button:nth-child(2) span{
    color: #333
}

.resaux .button:nth-child(3) span{
    color: #c74671;
}

.resaux .button:nth-child(4) span{
    color: #1DA1F2;
}

.resaux .button:nth-child(5) span{
    color: #a60c0c;
}

@media screen and (max-width: 480px) {
    section.CM h1{
        font-size: 100px;
    }
}

footer {
    width: auto;
    min-height: 150px;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 10px 50px;
    border-top: 5px solid #fff;
    justify-content: center;
    text-align: center;
}

footer div{
    text-align: left;
}

footer div span.lettre{
    color: #ffffff;
    font-size: 100px;
    font-style: italic;
    font-weight: bold;
    font-family: JFont;
}

footer p{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    margin-top: 25px;
}

footer div span.lettre:nth-child(1){
    animation-delay: 0.1s;
}
footer div span.lettre:nth-child(2){
    animation-delay: 0.2s;
}
footer div span.lettre:nth-child(3){
    animation-delay: 0.3s;
}
footer div span.lettre:nth-child(4){
    animation-delay: 0.4s;
}
footer div span.lettre:nth-child(5){
    animation-delay: 0.5s;
}
