@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-karla), sans-serif; /* Texte principal */
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), sans-serif; /* Titres */
    font-weight: 700;
    letter-spacing: -0.05em;
}

p, li, span {
    font-family: var(--font-karla), sans-serif;
}

/* Custom underline effect */
.underline-from-left {
    position: relative;
    display: inline-block; /* Ensure it wraps content */
}

.underline-from-left::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px; /* Underline thickness */
    bottom: 11px; /* Adjust vertical position */
    left: 20%; /* Adjust horizontal starting position */
    background-color: var(--foreground); /* Use foreground color for underline */
    transition: width 0.3s ease-out;
}

.underline-from-left:hover::after {
    width: 70%; /* Adjust horizontal extent on hover */
}
